:root {
    --boxShadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkslategrey;
    background-image: url('carlos-felipe-ramirez-mesa-g3CsD5K-KZE-unsplash.jpg');
    height: 100vh;
    width: 100vw;
    font-family: system-ui, tahoma;
}

#container {
  /*  border: solid 9px darkslategrey;*/
    box-shadow: var(--boxShadow);
    height: 700px;
    width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  /*  background-image: url('carlos-felipe-ramirez-mesa-g3CsD5K-KZE-unsplash.jpg');*/
}

#header {
    height: auto;
    width: auto;
    padding: 10px;
    border-radius: 15px;
    text-shadow:  1px 1px 2px indianred, 0 0 1em maroon, 0 0 0.2em lavender;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    box-shadow: var(--boxShadow);
    border-radius: 10px;
    padding: 5px; 
    font-size: 33px;
    background-color: lightgrey;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    color: darkslategrey;
}

.button {
    background-color: grey;
    border-radius: 15px;
    padding: 5px;
    font-size: 33px;
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow:  2px 2px darkslategrey, 2px 0 3px white;
    box-shadow: var(--boxShadow);
    cursor: pointer;
}
.button:hover{
    background-color: #766666;
}

#gameButton {
    padding: 20px;
    border: solid darkslategrey 10px;
    color: black !important;
    text-decoration: none;
}


/* gameBoard */

#boardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#horizBar {
    display: flex;
    align-items: space-between;
    justify-content: center;
    width: 900px;
}

#generate {
    border: solid darkslategrey 9px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 170px;
    margin-right: 237px;
}

#reveal {
    cursor: default;
    background-color: #766666;
    border: solid darkslategrey 9px;
}

#thisRound {
    cursor: default;
    background-color: #766666;
    border: solid darkslategrey 9px;
}

#gameBoard {
    box-shadow: var(--boxShadow);
    height: 150px;
    width: 900px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, 50px);
}

.roundTile {
    display: flex;
    justify-content: center;
    text-shadow: 1px 1px 2px indianred, 0 0 1em maroon, 0 0 0.2em lavender;
    font-size: 46px;
    border: solid red 5px;
    cursor: pointer;
}

.roundTile:hover {
    background-color: darkslategrey;
}

#bottomHorizBar {
    display: flex;
    align-items: center;
}