/*root variable for box shadow*/
:root {
    --boxShadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/*viewer height and width set for html element with a flex column layout*/
html {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*additional page defaults set on body element*/
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkslategrey;
    background-image: url('carlos-felipe-ramirez-mesa-g3CsD5K-KZE-unsplash.jpg');
    font-family: system-ui, tahoma;
}

#container {
    box-shadow: var(--boxShadow);
    height: 700px;
    width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*the modal box on the primary page*/
#about {
    margin-left: -30px;
    margin-top: -35px;
    position: absolute;
    width: 40px;
    border: solid yellow 5px;
    color: yellow;
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    height: 500px;
    width: 800px;
    top: 140px;
    left: 380px;
    border: solid yellow 5px;
    color: lightgrey;
    text-shadow: 3px 3px black;
    background-color: darkslategrey;
    background-image: url('closeUpImage.jpg')
}

#insideModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#close {
    margin: 10px;
    width: 100px;
}

/*styling of the main features on the front page*/
#header {
    height: auto;
    width: auto;
    padding: 10px;
    border-radius: 15px;
    text-shadow:  1px 1px 2px indianred, 0 0 1em maroon, 0 0 0.2em lavender;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    box-shadow: var(--boxShadow);
    border-radius: 10px;
    padding: 5px; 
    font-size: 33px;
    background-color: lightgrey;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    color: darkslategrey;
}

.input:focus{
    outline: none;
}

.button {
    background-color: grey;
    border-radius: 15px;
    padding: 5px;
    font-size: 33px;
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow:  2px 2px darkslategrey, 2px 0 3px white;
    font-weight: bold;
    box-shadow: var(--boxShadow);
    cursor: pointer;
}
.button:hover{
    background-color: #766666;
}

.encrypt {
    padding: 10px;
    margin: 10px;
}

#gameButton {
    padding: 20px;
    border: solid darkslategrey 10px;
    color: black !important;
    text-decoration: none;
}

/* gameBoard */

#back {
    width: 100px;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}

/*container for most of the elements on the second page*/
#boardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*modal box on second page*/
#gameInfo {
    margin-left: -380px;
    margin-right: 320px;
    position: absolute;
    width: 40px;
    border: solid yellow 5px;
    color: yellow;
}

#gamePageModal {
    display: none;
    position: fixed;
    z-index: 1;
    height: 500px;
    width: 900px;
    top: 108px;
    left: 330px;
    border: solid yellow 5px;
    color: lightgrey;
    text-shadow: 3px 3px black;
    background-color: darkslategrey;
    background-image: url('closeUpImage.jpg');
}

/*styling for main elements on the gameboard page*/
#horizBar {
    display: flex;
    align-items: space-between;
    justify-content: center;
    width: 900px;
}

#generate {
    border: solid darkslategrey 9px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 170px;
    margin-right: 237px;
}

#reveal {
    cursor: default;
    background-color: #766666;
    border: solid darkslategrey 9px;
}

#thisRound {
    cursor: default;
    background-color: #766666;
    border: solid darkslategrey 9px;
}

/*the game board display which uses grid to house child elements created dynamically from strings*/
#gameBoard {
    box-shadow: var(--boxShadow);
    height: 150px;
    width: 900px;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, 50px);
}

/*class for the dynamically created grid elements on each round*/
.roundTile {
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px 2px indianred, 0 0 1em maroon, 0 0 0.2em lavender;
    font-size: 46px;
    border: solid red 5px;
    cursor: pointer;
}

.roundTile:hover {
    background-color: darkslategrey;
}

.horizBar {
    display: flex;
    align-items: center;
}

#attempts {
    color: lightgrey;
    text-shadow: 4px 4px black;
    font-size: 30px;
    padding-right: 60px;
    margin-left: -140px;
}

/*class for game over and you win screens, set initially as hidden*/
.gameOver {
    display: none;
    z-index: 1;
    position: fixed;
    color: red;
    text-shadow: 4px 2px 2px black;
    font-size: 20px;
    background-color: transparent;
    text-decoration: underline;
}

#completed {
    text-decoration: none;
    font-size: 33px;
}